/* You can add global styles to this file, and also import other style files */
.mat-drawer-container
{
    overflow: hidden !important
}


.mat-sidenav-content
{
    overflow: hidden !important
}

.mat-card { 
    box-shadow: none !important
}
